apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  namespace: working-namespace
  labels:
    app: nginx-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      app: nginx-deployment
  template:
    metadata:
      labels:
        app: nginx-deployment
    spec:
      containers:
        - name: nginx-deployment-container
          image: nginx:1.26.0
