apiVersion: v1
kind: Pod
metadata:
  name: configmap-pod
spec:
  containers:
    - name: nginx
      image: nginx:1.26.0
      volumeMounts:
        - name: file-config-map
          mountPath: /etc/config
      envFrom:
        - configMapRef:
            name: property-config-map
  volumes:
    - name: file-config-map
      configMap:
        name: file-config-map
